<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rover_ros2_control" params="">
    <ros2_control name="RoverSystem" type="system">
      <hardware>
        <!-- Replace with your hardware plugin later; for sim use GazeboSystem -->
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <joint name="wheel_left_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>

      <joint name="wheel_right_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
    </ros2_control>
  </xacro:macro>

</robot>
